# Mahmood Raheed
## Day2 Assignment

- Make a list of 5 students and print the list.

In [76]:
students = ["Abu Bakkar", "Ali", "Usman", "Faisal", "Khalid"]
print(students)

['Abu Bakkar', 'Ali', 'Usman', 'Faisal', 'Khalid']

- Add 2 more students in the list and print the updated list.

In [77]:
students.append("Younis")
students.append("Ibrahim")

print("After adding two new students: ", students)

After adding two new students:  ['Abu Bakkar', 'Ali', 'Usman', 'Faisal', 'Khalid', 'Younis', 'Ibrahim']

- Remove 2 students from the list and print the updated list.

In [78]:
students.remove("Faisal")
students.remove("Khalid")
print("After removing: ", students)

After removing:  ['Abu Bakkar', 'Ali', 'Usman', 'Younis', 'Ibrahim']

- Sort the list in ascending order and print the updated list.

In [79]:
students.sort()
print("After sorting: ", students)

After sorting:  ['Abu Bakkar', 'Ali', 'Ibrahim', 'Usman', 'Younis']

- Reverse the list and print the updated list.

In [80]:
students.reverse()
print("After reversing: ", students)

After reversing:  ['Younis', 'Usman', 'Ibrahim', 'Ali', 'Abu Bakkar']

- Clear the list and print the updated list.

In [81]:
students.clear()
print("After clearing: ", students)

After clearing:  []

- What is the difference between list and tuple?

Ans: The key difference between tuples and lists is that while tuples are immutable objects, lists are mutable. This means tuples cannot be changed while lists can be modified. Tuples are also more memory efficient than the lists. When it comes to time efficiency, tuples have a slight advantage over lists especially when we consider lookup value. If you have data that shouldnâ€™t change, you should choose tuple data type over lists.

- Make a tuple that contain only one item and print the type of the tuple.

In [82]:
name = ("Ahmed")
print(name)

Ahmed

- Make a tuple of 5 items and print the tuple.

In [83]:
names = ("Ahmed", "Akram", "Ahsan", "Mahmood", "Mustafa")
print(names)

('Ahmed', 'Akram', 'Ahsan', 'Mahmood', 'Mustafa')

- Find the index of a specific item in the tuple.

In [84]:
print("Index of Mahmood is: ",names.index("Mahmood"))

Index of Mahmood is:  3

- Find the count of a specific item in the tuple

In [85]:
print("Occourance of Ahmed is: ", names.count("Ahmed"), "time")

Occourance of Ahmed is:  1 time

- Find the length of the tuple.

In [86]:
print("length is: ", len(names))

length is:  5

- Find the maximum and minimum item in the tuple

In [87]:
numbers = (4,1,8,9,7,2)
print("Minimum: ", min(numbers))
print("Maximum: ", max(numbers))

Minimum:  1
Maximum:  9

- Find the sum of all items in the tuple.

In [88]:
print("sum = ", sum(numbers))

sum =  31

- Sort the tuple in ascending order and print the updated tuple.

In [89]:
numbers = sorted(numbers)
print("sorted in asscending order: ",numbers)

sorted in asscending order:  [1, 2, 4, 7, 8, 9]

- Sort the tuple in descending order and print the updated tuple.

In [90]:
numbers = sorted(numbers, reverse=True)
print("sorted in descending order: ",numbers)

sorted in descending order:  [9, 8, 7, 4, 2, 1]

- Clear the tuple and print the updated tuple.

In [91]:
numbers.clear()
print("After clearing: ", numbers)

After clearing:  []

- Delete the tuple and print the tuple.

In [92]:
# It will not print the tuple because tuple is deleted from memory
del names
print("After deleting: ", names)

NameError: name 'names' is not defined

- Concatenate two tuples and print the updated tuple.

In [93]:
t1 = (1,2,3,4)
t2 = (5,6,7,8)
t1+=t2
print("After concatination: ", t1)

After concatination:  (1, 2, 3, 4, 5, 6, 7, 8)

- Repeat the tuple 3 times and print the updated tuple.

In [94]:
t2 = t2*3
print("After repeating 3 times: "  ,t2)

After repeating 3 times:  (5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8)