# Mahmood Rasheed
## Day 3 Assignment

## Dictionary

- 1) Write a python program to give discount on the behalf of age. Hint: 0-5: 50%, 5-10: 30%, 10-20: 20%, 20-50: 10%, 50+: 5%
​

Ans: The list is a collection of index value pairs like that of the array in C++, whereas a dictionary is a hashed structure of the key and value

pairs.

The list is created by placing elements in [ ] separated by commas “,”, whereas the dictionary is created by placing elements in { } as “key”:”value”, each key-value pair is separated by commas “, “

The indices of the list are integers starting from 0, whereas keys of the dictionary can be of any data type.

The elements of the list are accessed via indices, whereas the elements of the dictionary are accessed via key-value pairs.

- 2) Make a dictionary of 10 locations and their respective temperatures.

In [2]:
location_and_temperature = {"Hyderabad": 42, "Karachi": 37, "Jamshoro": 42, "Sujawal": 40,
                           "Thatta": 44, "Islamabad": 39, "Lahore": 34, "Rawalpindi": 39,
                           "Paris": 29, "Kashmir": 20}

- 3) Print the dictionary.

In [4]:
location_and_temperature

{'Hyderabad': 42,
 'Karachi': 37,
 'Jamshoro': 42,
 'Sujawal': 40,
 'Thatta': 44,
 'Islamabad': 39,
 'Lahore': 34,
 'Rawalpindi': 39,
 'Paris': 29,
 'Kashmir': 20}

- 4) Print the length of the dictionary.

In [9]:
print("length is: ", len(location_and_temperature))

length is:  10

- 5) Print the value of a specific key.

In [10]:
print("Temperature in Hyderabad today: ", location_and_temperature["Hyderabad"], "C")

Temperature in Hyderabad today:  42 C

- 6) Print all the keys of the dictionary.

In [14]:
location_and_temperature.keys()

dict_keys(['Hyderabad', 'Karachi', 'Jamshoro', 'Sujawal', 'Thatta', 'Islamabad', 'Lahore', 'Rawalpindi', 'Paris', 'Kashmir'])

- 7) Print all the values of the dictionary.

In [15]:
location_and_temperature.values()

dict_values([42, 37, 42, 40, 44, 39, 34, 39, 29, 20])

- 8) Add 2 more locations in the dictionary and print the updated dictionary.

In [17]:
location_and_temperature.update({"Quetta": 34, "Murree": 27})
print("After Adding two new locations: ", location_and_temperature)

After Adding two new locations:  {'Hyderabad': 42, 'Karachi': 37, 'Jamshoro': 42, 'Sujawal': 40, 'Thatta': 44, 'Islamabad': 39, 'Lahore': 34, 'Rawalpindi': 39, 'Paris': 29, 'Kashmir': 20, 'Quetta': 34, 'Murree': 27}

- 9) Remove 2 locations from the dictionary and print the updated dictionary.

In [19]:
location_and_temperature.pop("Jamshoro")
location_and_temperature.pop("Paris")

print("After romoving Jamshoro and Paris", location_and_temperature)

After romoving Jamshoro and Paris {'Hyderabad': 42, 'Karachi': 37, 'Sujawal': 40, 'Thatta': 44, 'Islamabad': 39, 'Lahore': 34, 'Rawalpindi': 39, 'Kashmir': 20, 'Quetta': 34, 'Murree': 27}

- 10) Copy the dictionary and print the copied dictionary.

In [20]:
dic_clone = location_and_temperature.copy()
print("Copied dictionary: ", dic_clone)

Copied dictionary:  {'Hyderabad': 42, 'Karachi': 37, 'Sujawal': 40, 'Thatta': 44, 'Islamabad': 39, 'Lahore': 34, 'Rawalpindi': 39, 'Kashmir': 20, 'Quetta': 34, 'Murree': 27}

- 11) Clear the dictionary and print the updated dictionary

In [21]:
location_and_temperature.clear()
print("After clear: ", location_and_temperature)

After clear:  {}

- 12) Delete the dictionary and print the dictionary.

In [22]:
# after deleting from memory it will not be printed
del location_and_temperature
print(location_and_temperature)

NameError: name 'location_and_temperature' is not defined

# Assignment of Operators
- 1) What is the difference between = and == in Python?

Ans: In Python, the operators = and == serve very different purposes, and don't have much relation at all other than similar syntax. The = operator is used for assignment, such as when assigning a value to a variable. The == operator is the relational operator for checking equality of two values

- 2) What is the difference between = and += in Python?

Ans: + is an arithmetic operator while += is an assignment operator.. When += is used, the value on the RHS will be added to the variable on the LHS and the resultant value will be assigned as the new value of the LHS.

- 3) Write the python code to add your marks in 5 subjects and calculate the total marks. (i.e. 85, 95, 90, 80, 100)

In [34]:
your_marks = [85, 95, 90, 80, 100]

total_marks = sum(your_marks)
print("Total marks", total_marks)

Total marks 450

- 4) Write the python code to calculate the average of your marks.

In [35]:
avg = total_marks/5
print("Average of marks: ", avg)

Average of marks:  90.0

- 5) Write the python code to calculate the percentage of your marks.

In [36]:
percentage = (total_marks/500)*100
print("Percentage =", percentage)

Percentage = 90.0

- 6) Write the python code to compare your marks with your friend's marks and print the result. (i.e. who got more marks) Hint: Use comparison operators. (your friend's marks: 85, 95, 90, 80, 100)

In [40]:
# no one got more marks, so their will be no output
friend_marks = [85, 95, 90, 80, 100]
friend_total_marks = sum(friend_marks)

if total_marks> friend_total_marks:
    print("You got more marks")
elif friend_total_marks > total_marks:
    print("Friend got more marks")
else:
    print("You and your friend got the same marks.")

You and your friend got the same marks.

- 7) Write the python code to check whether you got more marks than your friend or not. Hint: Use logical operators.

In [41]:
friend_marks = [85, 95, 90, 80, 100]
friend_total_marks = sum(friend_marks)

if total_marks> friend_total_marks:
    print("You got more marks")
else:  print("No, you did not get more marks than your friend.")

No, you did not get more marks than your friend.

# Control structure Tasks

- 1) Write a python program to check if the number is even or odd.

In [42]:
number = int(input("Enter a number: "))

if number%2 == 0:
    print(number, "is even")
else:
    print(number, "is odd")

Enter a number: 78
78 is even

- 2) Write a python program to make grade calculator. Hint: A: 90-100, B: 80-89, C: 70-79, D: 60-69, F: <60

In [6]:
marks = [85, 67, 95, 91, 75]

obt_marks = sum(marks)

percentage  = (obt_marks/500)*100

if percentage >= 90:
    print("Grade A")
elif percentage >= 80:
    print("Grade B")
elif percentage >= 70:
    print("Grade C")
elif percentage >= 60:
    print("Grade D")
else:
    print("Grade F")

Grade B

- 3) Write a python program to give discount on the behalf of age. Hint: 0-5: 50%, 5-10: 30%, 10-20: 20%, 20-50: 10%, 50+: 5%

In [7]:
age = int(input("Enter your age: "))

if age > 50:
    print("You got 5% discount")
elif age >= 20:
    print("You got 10% discount")
elif age >= 10:
    print("You got 20% discount")
elif age >= 5:
    print("You got 30% discount")
elif age >= 0:
    print("You got 50% discount")
else:
    print("Invalid age")

Enter your age: 22
You got 10% discount