<h1>Mahmoood Rasheed<h1>

<h3>Simple Linear Regression<h3>

In [226]:
import numpy as np
import pandas as pd

In [227]:
df = pd.read_csv("pizza_v1.csv")
df.head()

,company,price_rupiah,diameter,topping,variant,size,extra_sauce,extra_cheese
0,A,"Rp235,000",22.0,chicken,double_signature,jumbo,yes,yes
1,A,"Rp198,000",20.0,papperoni,double_signature,jumbo,yes,yes
2,A,"Rp120,000",16.0,mushrooms,double_signature,reguler,yes,yes
3,A,"Rp155,000",14.0,smoked beef,double_signature,reguler,yes,no
4,A,"Rp248,000",18.0,mozzarella,double_signature,jumbo,yes,no

In [228]:
df.columns

Index(['company', 'price_rupiah', 'diameter', 'topping', 'variant', 'size',
       'extra_sauce', 'extra_cheese'],
      dtype='object')

In [229]:
df.drop(['company', 'topping', 'variant', 'size',
       'extra_sauce', 'extra_cheese'],  axis = 1, inplace=True)
df.head()

  price_rupiah  diameter
0    Rp235,000      22.0
1    Rp198,000      20.0
2    Rp120,000      16.0
3    Rp155,000      14.0
4    Rp248,000      18.0

In [230]:
df["price_rupiah"].unique()

array(['Rp235,000', 'Rp198,000', 'Rp120,000', 'Rp155,000', 'Rp248,000',
       'Rp140,000', 'Rp110,000', 'Rp70,000', 'Rp90,000', 'Rp230,000',
       'Rp188,000', 'Rp114,000', 'Rp149,000', 'Rp23,500', 'Rp46,000',
       'Rp72,000', 'Rp49,000', 'Rp83,000', 'Rp96,000', 'Rp31,000',
       'Rp69,000', 'Rp93,000', 'Rp75,000', 'Rp115,000', 'Rp123,000',
       'Rp33,000', 'Rp76,000', 'Rp119,000', 'Rp126,500', 'Rp39,000',
       'Rp99,000', 'Rp44,000', 'Rp78,000', 'Rp105,000', 'Rp35,000',
       'Rp60,000', 'Rp98,000', 'Rp28,000', 'Rp51,000', 'Rp84,000',
       'Rp32,000', 'Rp54,000', 'Rp92,000'], dtype=object)

In [231]:
df["price_rupiah"] = df["price_rupiah"].str.replace(',', '')
df["price_rupiah"] = df["price_rupiah"].str.replace('Rp', '')
df

    price_rupiah  diameter
0         235000      22.0
1         198000      20.0
2         120000      16.0
3         155000      14.0
4         248000      18.0
..           ...       ...
124        39000       8.5
125        72000      12.0
126        99000      14.0
127        44000       8.5
128        78000      12.0

[129 rows x 2 columns]

In [232]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price_rupiah  129 non-null    object
 1   diameter      129 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.1+ KB

In [233]:
df["price_rupiah"]= df["price_rupiah"].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price_rupiah  129 non-null    int32
 1   diameter      129 non-null    float64
dtypes: float64(1), int32(1)
memory usage: 1.6 KB

In [234]:
df["diameter"].unique()

array([22. , 20. , 16. , 14. , 18. , 18.5,  8. , 12. , 16.5,  8.5, 17. ])

In [235]:
from sklearn.preprocessing import StandardScaler

scalar = StandardScaler()
df["price_rupiah"]= scalar.fit_transform(df[["price_rupiah"]])
df["diameter"] = scalar.fit_transform(df[["diameter"]])

df

     price_rupiah  diameter
0        3.320022  2.767900
1        2.489168  2.154397
2        0.737638  0.927389
3        1.523581  0.313886
4        3.611944  1.540893
..            ...       ...
124     -1.081259 -1.373250
125     -0.340227 -0.299618
126      0.266072  0.313886
127     -0.968982 -1.373250
128     -0.205494 -0.299618

[129 rows x 2 columns]

In [252]:
X = df[["diameter"]]
Y = df["price_rupiah"]

In [253]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

X_train, x_test, Y_train, y_test = train_test_split(X, Y, test_size=0.2, shuffle=True)

model = LinearRegression()

model.fit(X_train, Y_train)

y_pred = model.predict(x_test)

print("r2_score of linear regression = ", r2_score(y_test, y_pred))

r2_score of linear regression =  0.7777903611988748

In [254]:
from sklearn.linear_model import ARDRegression
from sklearn.metrics import r2_score

model = ARDRegression()

model.fit(X_train, Y_train)

y_pred = model.predict(x_test)

print("r2_score of ARD regression = ", r2_score(y_test, y_pred))

r2_score of ARD regression =  0.776514887432015

In [255]:
from sklearn.linear_model import HuberRegressor
from sklearn.metrics import r2_score

model = HuberRegressor()

model.fit(X_train, Y_train)

y_pred = model.predict(x_test)

print("r2_score of Hubber regression = ", r2_score(y_test, y_pred))

r2_score of Hubber regression =  0.7733298865718847

In [256]:
from sklearn.linear_model import PassiveAggressiveRegressor
from sklearn.metrics import r2_score

model = PassiveAggressiveRegressor()

model.fit(X_train, Y_train)

y_pred = model.predict(x_test)

print("r2_score of Passive Agressive regression = ", r2_score(y_test, y_pred))

r2_score of Passive Agressive regression =  0.6062897953341501

# Conclusion:
## Linear regression have high score